<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.amigocloud.amigosurvey">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".MyApplication"
        android:allowBackup="false"
        android:icon="@drawable/ac_icon_180x"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ac_icon_180x"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/NoBar">
        <activity
            android:name=".login.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".selector.SelectorActivity" />
        <activity android:name=".form.FormActivity" />

        <provider
            android:name="com.amigocloud.amigosurvey.util.GenericFileProvider"
            android:authorities="com.amigocloud.amigosurvey.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>

</manifest>